<div fxLayout="column" class="tenant-form">
  <form [formGroup]="tenantForm" (submit)="submit()">
    <mat-card fxFlex="50%" class="card">
      <mat-card-title>Provision tenant</mat-card-title>
      <mat-card-content fxFlex="100%">
        <mat-form-field>
          <mat-label>Enter name</mat-label>
          <input
            matInput
            placeholder="Tenant Company Name"
            formControlName="tenantName"
            required
          />
          <mat-error *ngIf="tenantName?.invalid">Name is required</mat-error>
          <mat-error *ngIf="tenantName?.errors?.['lowercaseAndNumbers']">Must start with a lowercase, and only lowercase, numbers, and hyphen</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter email</mat-label>
          <input
            matInput
            placeholder="jsmith@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf="email?.invalid">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter tenant tier</mat-label>
          <select
            matNativeControl
            required
            formControlName="tier"
            title="tierSelect"
          >
            <option value="BASIC">Basic</option>
            <option value="ADVANCED">Advanced</option>
            <option value="PREMIUM">Premium</option>
          </select>
        </mat-form-field>

<!-- Federation 여부 선택 추가 -->
<mat-form-field appearance="fill" *ngIf="tier?.value === 'ADVANCED' || tier?.value === 'PREMIUM'">
  <mat-label>Authentication Type</mat-label>
  <mat-select formControlName="useFederation">
    <mat-option [value]="false">Cognito Native</mat-option>
    <mat-option [value]="true">Use Federation (Configure Later)</mat-option>
  </mat-select>
</mat-form-field>


        <mat-card-footer>
          <div class="button-panel">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!tenantForm.valid"
            >
              Submit
            </button>
            <button
              mat-raised-button
              color="warn"
              [routerLink]="['../list']"
              type="button"
            >
              Cancel
            </button>
          </div>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </form>
</div>
